# Python 3.3 Virtualenv
# Not needed now, but maybe in the future.
env/

# Dependencies managed using bower
site/vendor/

# CSS compiled and minified by Gulp
site/css

# Contains our improved datasets
site/data

# I like to keep my gh-pages branch in a separate folder
# The site is live on: http://dufferzafar.github.io/soccer/
dist/

# These folders contain datasets
# View the releases page to download them
# https://github.com/dufferzafar/soccer/releases
data/projects/
data/org/
data/projects-details/
data/org-details/

# Node Modules
node_modules
